   {% extends 'base.html' %}
{% block title %}Gallery | Ahsania Mission Cancer & General Hospital{% endblock title %}
{% block page_name %}Gallery{% endblock page_name %}
{% block page_link %}<a href="{% url 'main_application:gallery' %}">Gallery</a>{% endblock page_link %}
{% load static %}
{% block content %}


        <section class="why-choose-us-style-2 section-padding bg-light-white">
            <div class="container">
                            <div class="section-header">
                    <div class="section-heading">
                        <h3 class="text-custom-black fw-700">Gallery</h3>
                        <img src="{% static 'assets/images/title-icon.png' %}" class="mb-xl-20" alt="img">
                        <div class="section-description">
                            <p class="text-light-white">
                                You can get more facilities from our hospital. </p>
                        </div>
                    </div>
                </div>

         <div class="row">
                    <div class="col-12">
                        <div class="square-tabs">
                            <ul class="nav nav-tabs custom">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#All">All</a>
                                </li>

                                {% for cat in gallery_category %}
                                     <li class="nav-item">
                                    <a class="nav-link " data-toggle="tab" href="#{{ cat.category_name }}">{{ cat.category_name }}</a>
                                </li>
                                {% endfor %}



                            </ul>
                            <div class="tab-content padding-20 bg-custom-white">

                                <div class="tab-pane container active" id="All">
                                    <div class="tab-inner">
                                       <div class="row gallery-grid">
                                            {% for gallery_images in filterd_gallery %}
                                            <div class="col-lg-6 col-sm-6 filter-box category_name">
                                                <div class="gallery-item animate-img mb-xl-30">
                                                    <a href="{{ gallery_images.gallery_image.url}}" class="popup">
                                                        <img src="{{ gallery_images.gallery_image.url }}" class="image-fit" alt="img">
                                                    </a>
                                                </div>
                                            </div>
                                            {% endfor %}

                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane container active" id="Cancer-Day-2023">
                                    <div class="tab-inner">
                                        <div class="row gallery-grid">
                                            {% for gallery_images in cancer_day_g %}
                                            <div class="col-lg-6 col-sm-6 filter-box category_name">
                                                <div class="gallery-item animate-img mb-xl-30">
                                                    <a href="{{ gallery_images.gallery_image.url}}" class="popup">
                                                        <img src="{{ gallery_images.gallery_image.url }}" class="image-fit" alt="img">
                                                    </a>
                                                </div>
                                            </div>
                                            {% endfor %}

                                        </div>
                                    </div>
                                </div>
                            <div class="tab-pane container active" id="Pitha-Utshob-2023">
                                    <div class="tab-inner">
                                        <div class="row gallery-grid">
                                            {% for gallery_images in pitha_utshob_2023 %}
                                            <div class="col-lg-6 col-sm-6 filter-box category_name">
                                                <div class="gallery-item animate-img mb-xl-30">
                                                    <a href="{{ gallery_images.gallery_image.url}}" class="popup">
                                                        <img src="{{ gallery_images.gallery_image.url }}" class="image-fit" alt="img">
                                                    </a>
                                                </div>
                                            </div>
                                            {% endfor %}

                                        </div>
                                    </div>
                                </div>
                            <div class="tab-pane container active" id="New-Year-2023">
                                    <div class="tab-inner">
                                        <div class="row gallery-grid">
                                            {% for gallery_images in New_Year_2023 %}
                                            <div class="col-lg-6 col-sm-6 filter-box category_name">
                                                <div class="gallery-item animate-img mb-xl-30">
                                                    <a href="{{ gallery_images.gallery_image.url}}" class="popup">
                                                        <img src="{{ gallery_images.gallery_image.url }}" class="image-fit" alt="img">
                                                    </a>
                                                </div>
                                            </div>
                                            {% endfor %}

                                        </div>
                                    </div>
                                </div>
                            <div class="tab-pane container active" id="Memorandum-of-Understanding">
                                    <div class="tab-inner">
                                        <div class="row gallery-grid">
                                            {% for gallery_images in Memorandum_understanding %}
                                            <div class="col-lg-6 col-sm-6 filter-box category_name">
                                                <div class="gallery-item animate-img mb-xl-30">
                                                    <a href="{{ gallery_images.gallery_image.url}}" class="popup">
                                                        <img src="{{ gallery_images.gallery_image.url }}" class="image-fit" alt="img">
                                                    </a>
                                                </div>
                                            </div>
                                            {% endfor %}

                                        </div>
                                    </div>
                                </div>


                        </div>
                    </div>
                </div>

            </div>
            </div>
        </section>



  {% endblock %}