   {% extends 'base.html' %}
{% block title %}Gallery | Ahsania Mission Cancer & General Hospital{% endblock title %}
{% block page_name %}Gallery{% endblock page_name %}
{% block page_link %}<a href="{% url 'main_application:gallery' %}">Gallery</a>{% endblock page_link %}
{% load static %}
{% block content %}


        <section class="why-choose-us-style-2 section-padding bg-light-white">
            <div class="container">

                            <div class="row">
                    <div class="col-12">
                        <div class="square-tabs">
                            <ul class="nav nav-tabs custom">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#All">All</a>
                                </li>
                                {% for cat in gallery_category %}
                                     <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#{{ cat.category_name }}">{{ cat.category_name }}</a>
                                </li>
                                {% endfor %}



                            </ul>
                            <div class="tab-content padding-20 bg-custom-white">
                                <div class="tab-pane container active" id="Linear-Accelerator">
                                    <div class="tab-inner">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="img-sec mb-md-40">
                                                    <img src="{% static 'assets/images/special_facilities/Linear-Accelerator.jpg' %}" class="full-width" alt="img">
                                                </div>
                                            </div>
                                            <div class="col-lg-6 align-self-center">
                                                <div class="content-box">
                                                    <h4 class="text-custom-black">What does Linear Accelerator do?</h4>
                                                    <p class="text-light-white">A medical linear accelerator (LINAC) is the device most commonly used for external beam radiation treatments for patients with cancer. It delivers high-energy x-rays or electrons to the region of the patient's tumor</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane container fade" id="CT-Simulator">
                                    <div class="tab-inner">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="img-sec mb-md-40">
                                                    <img src="{% static 'assets/images/special_facilities/CT-Simulator.jpg' %}" class="full-width" alt="img">
                                                </div>
                                            </div>
                                            <div class="col-lg-6 align-self-center">
                                                <div class="content-box">
                                                    <h4 class="text-custom-black">What is a CT Simulator?</h4>
                                                    <p class="text-light-white">A CT simulator (CT-S) is a real-time, CT-linked, 3-D treatment planning system, which consists of a CT scanner, a multi-image display, a treatment planning device with real-time visual optimization, and a laser beam projector.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane container fade" id="Cobalt-60-Teletherapy">
                                    <div class="tab-inner">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="img-sec mb-md-40">
                                                    <img src="{% static 'assets/images/special_facilities/Cobalt-60-Teletherapy.jpg' %}" class="full-width" alt="img">
                                                </div>
                                            </div>
                                            <div class="col-lg-6 align-self-center">
                                                <div class="content-box">
                                                    <h4 class="text-custom-black">What does Cobalt-60-Teletherapy do?</h4>
                                                    <p class="text-light-white">Cobalt therapy is the medical use of gamma rays from the radioisotope cobalt-60 to treat conditions such as cancer. Beginning in the 1950s, cobalt-60 was widely used in external beam radiotherapy (teletherapy) machines, which produced a beam of gamma rays which was directed into the patient's body to kill tumor tissue.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane container fade" id="HDR-Brachytherapy">
                                    <div class="tab-inner">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="img-sec mb-md-40">
                                                    <img src="{% static 'assets/images/special_facilities/HDR-Bracytharapy.jpg' %}" class="full-width" alt="img">
                                                </div>
                                            </div>
                                            <div class="col-lg-6 align-self-center">
                                                <div class="content-box">
                                                    <h4 class="text-custom-black">What does HDR-Brachytherapy do?</h4>
                                                    <p class="text-light-white">HDR(High-Dose Rate) brachytherapy is a form of internal radiotherapy where an oncologist:<br><br>

1.Temporarily implants a catheter — a small plastic tube or balloon — in the tumor area.<br>
2.Places highly radioactive material inside the body for a short time and then retracts it using a remote control.<br>
3.Removes the catheter after you've completed your entire course of treatment. You may need multiple sessions of HDR brachytherapy.</p>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane container fade" id="Dual-Head-SPECT">
                                    <div class="tab-inner">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="img-sec mb-md-40">
                                                    <img src="{% static 'assets/images/special_facilities/Dual-Head-SPECT.jpg' %}" class="full-width" alt="img">
                                                </div>
                                            </div>
                                            <div class="col-lg-6 align-self-center">
                                                <div class="content-box">
                                                    <h4 class="text-custom-black">What does Dual-Head SPECT do?</h4>
                                                    <p class="text-light-white">Regarding myocardial viability, positive predictive value for the diagnosis of myocardial scar tissue was significantly higher for dual-head- as compared to single-head acquisition.</p>


                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row gallery-grid">
                    {% for gallery_images in filterd_gallery %}
                    <div class="col-lg-4 col-sm-6 filter-box category_name">
                        <div class="gallery-item animate-img mb-xl-30">
                            <a href="{{ gallery_images.gallery_image.url}}" class="popup">
                                <img src="{{ gallery_images.gallery_image.url }}" class="image-fit" alt="img">
                            </a>
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>
        </section>



  {% endblock %}